<div>
    <h1 class="text-center text-bold" style="padding-top:4em;font-family: 'Libre Bodoni', serif;">Login</h1>
    {{#if message}}
        <h2 class="text-center text-bold" style="color: red;">{{message}}</h2>
    {{/if}}
    <div style="position: fixed;left:30em;width:35em " class="bg-light rounded">
        <form method="post" action="/admin/login" class="mt-4 p-5">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" id="form2Example1"  class="form-control" required />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-2">
                <input type="password" name="password" class="form-control" id="form2Example2" class="form-control" required />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->    
            <div class="row mb-2">
                <div style="margin-left:120px;margin-right:50px;width:17em">
                    <button type="submit" class="btn btn-primary mb-4" style="width: 15em;">Sign in</button>
                </div>
                <br>

                <div class="col">
                    <!-- Simple link -->
                    <a href="/admin/forgotpassword">Forgot password?</a>
                </div>
            </div>
        </form>
    </div>
</div>